*{
    color: blue;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: rebeccapurple;
}
.App{
    display: flex;
    flex-direction: column;
    flex: start;
    width: 520px;
    min-height: 600px;
    background: #333333;
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 20px;
}


h1{
margin: 32px 0;
font-size: 30px;
}

.complete{
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-input{
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid black;
    outline: none;
    width: 320px;
    background: transparent;
    color: black;
    margin-bottom: 10px;
}

.todo-input::placeholder{
    color: white;
}

.todo-input:focus{
    border: 2px solid #6f27ff;
}

.todo-button{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: blue;
    color: white;
    text-transform: capitalize;
}

.todo-input.eddit{
    border: 2px solid #149fff;
}

.todo-button.eddit{
    background: black;
    padding: 16px 22px;
}

.todo-container{
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: white;
    background: black;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.todo-row:nth-child(2n+1){
    background: violet;
}

.icons{
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon{
    margin-right: 5px;
    color: tomato;
}

.edit-icon{
    color: tomato;
}